.summary-heading {
	display: flex;
	justify-content: space-between;
	padding: 8px 54px;
	align-items: center;
	background-color: var(--color--20);
}

.summary-heading__category {
	flex: 3;
}

.summary-heading__active {
	flex: 1;
}

.summary-heading__archived {
	flex: 1;
}
